
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid rgba(166, 158, 158, 0.73) 2px;
    width: 460px;
    margin-top: 20px;
    
}

button,
x {
    color: red;
    border: none;
    background: none;
    opacity: 0.2;
}

button:hover {
    opacity: 1;
}

p {
    margin-left: 10px;
    margin-top: 6px;
    width: 400px;
    color: black;
    border: none;
    display: flex;
    justify-content: space-between;
}

input {
    margin-top: 6px;
    width: 400px;
    font-size: 18px;
    padding: 8px;
    border: solid rgb(183, 182, 182);
    margin-right: 24px;
    
}

.cantidad {
    font-size: 14px;
    opacity: 0.6;

}

.lista{
    opacity: 0.5;
    margin: 25px;
}